body{
    font-family: "Inter", sans-serif;
}
.mt-4{
    font-size: 50px;
}
.banner {
    background: url('880203053 (1).gif') no-repeat center center;
    background-size: cover;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content {
    height: 350px;
    width: 450px;
    padding: 50px;
    padding-bottom: 20pc;
    text-align: center;
    color: white;
    background-color: lightgray;
    border-radius: 16px; 
    background: rgba(255, 255, 255, 0.18);
    
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(7.8px);
    
    border: 1px solid rgba(255, 255, 255, 0.19);
}
.banner img {
    max-width: 80%;
}

.banner p{
    padding: 25px;
    color: #000;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.img{
    margin: 50px;
}
.container {
    margin: 50px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.container-city{
    margin: 50px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-city h1{
    padding: 20px;
    font-weight: 800;
    font-size: 80px;
    color: #228B22;
    width: 300px;
}
.container-city p{
    padding: 20px;
    color: #212e21;
    justify-content: left;
}

.card {
    border: 1px solid #228B22;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    text-align: center;
    height: fit-content;
}
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
.card h2 {
    color: #228B22;
    font-size: 24px;
    margin-bottom: 10px;
}
.card .disponivel {
    font-size: 14px;
    margin-bottom: 10px;
}
.card ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
.card ul li {
    margin-bottom: 10px;
}
.card a {
    text-decoration: none;
    color: #228B22;
    border: 1px solid #228B22;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card a:hover {
    background-color: #228B22;
    color: white;
}
.banner a {
    background-color: #ddd;
    text-decoration: none;
    color: #228B22;
    border: 1px solid #228B22;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 80px;
}
.banner a:hover {
    background-color: #228B22;
    color: white;
}
.idf{
    padding: 50px;
    margin: 40px;
}
.idf h1{
    font-family: "Inter", sans-serif;
    font-size: 60px;
    color: #228B22;
}
.idf p{
    color: #212e21;
    justify-content: left;
    font-size: 20px;
    margin: 20px
}
.container-mountain{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-mountain h1{
    padding: 20px;
    font-weight: 800;
    font-size: 80px;
    color: #228B22;
    width: 300px;
}
.container-mountain p{
    padding: 20px;
    color: #212e21;
    justify-content: left;
}

.container-bikes{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

footer{
    margin-top: 200px;
    display: block;
    background-color: black;
}